
/*.home-container {
  margin-top: 20vw;
}*/

.campdates {
  position: absolute;
  resize:both;
  height:15%;
  width:100%;
}
.menubackground {
  background-image: url('../Img/footer_bg.jpg');

}
.camptext img{
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-variant: caps;
  font-weight: 400;
  line-height: 20px;

}
.navbarbackground {
  background-image: url('../Img/footer_bg.jpg');
  height: 79px;
  width: auto;
}
.footer {
  height: 20vmax;
}
.footer-image-links {
  margin: 0;
  width:15vmax;
}
.footer-image-links > a {
  font-size:1.5vmax;
}
.cell-num, .tel-num{
  visibility: collapse;
  display: none;
}
