/*.logo {
  background-image: url('../Img/header2_bg.jpg');
  height: 60px;
  width: auto;
}*/
h1 {
  font-size: 4vw;
}
.home {
  margin-top: 20vw;
}

.campdates {
  /*background: url('../Img/bluridgeHeader.jpeg');*/
  position: absolute;
  resize:both;
  height:15%;
  width:100%;
}
.menubackground {
  background-image: url('../Img/footer_bg.jpg');

}
.camptext img{
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-variant: caps;
  font-weight: 400;
  line-height: 20px;

}
.navbarbackground {
  background-image: url('../Img/footer_bg.jpg');
  height: 79px;
  width: auto;
}
