/*.logo {
  background-image: url(../Img/header2_bg.jpg);
  height: 60px;
  width: auto;
}*/

/*.campdates {
  background: url('../Img/bluridgeHeader.jpeg');
  font-size: 45px;
}
.menubackground {
  background-image: url('../Img/footer_bg.jpg');

}
*/
.campdates img{
  /*background: url('../Img/bluridgeHeader.jpeg');*/
  position: absolute;
  resize:both;
  height:auto;
  width:100%;
}
.camptext {
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-variant: caps;
  font-weight: 400;
  line-height: 20px;

}
.navbarbackground {
  background-image: url('../Img/footer_bg.jpg');
  height: 79px;
  width: auto;
}
