.header-box {
  margin-top:9.5vw;
}
.home-container {
  margin-top: 20vw;
  /*flex-direction: column;*/
}
.topic-list-container {
  flex-direction: column;
}
.campdates > img{
  position: absolute;
  resize:both;
  height:auto;
  width:100%;
}
.camptext {
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-variant: caps;
  font-weight: 400;
  line-height: 20px;

}
.navbarbackground {
  background-image: url('../Img/footer_bg.jpg');
  height: 79px;
  width: auto;
}
/*.andy-map-container {
  visibility: hidden;
}*/
.footer {
  visibility: collapse;
}
