.menubackground {
  border-radius: 0px 0px 25px 25px;
}
.navbar-nav {
  float: right;
  justify-content: flex-end;
  width: 30vmax;
  border: blue solid thick;
}
.navbarbackground {
  background-image: url('../Img/footer_bg.jpg');
  height: 150px;
  width: auto;
}

.user-image {
  order: 1;
  align-self: flex-end;
  border-radius: 50%;
  height: 8vmax;
  width: 8vmax;
  /* margin: 6px; */
}
.logo-image {
  height: 25vw;
}
.sign-up > h2 {
  font-size: 7vw;
}
.sign-up-block > h2 {
  font-size: 7vw;
}
.sign-up-button {
  font-size: 4vw;
}
.profile-card {
  width: 40vmax;
  /* margin: 5vmax; */
  margin-top: 6vmax;
  flex-basis: auto;
}
.card-container {
  margin: 4vmax;
  /* margin-top: 10vmax; */
  width: 50vmax;
}
.contact-container {
  display: flex;
  flex-direction: column;
  background-image: url('../Img/whiteGrain.jpeg');
  margin: 0;
  width: 100%;
}
.form {
  order: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
}

.form-label {
  margin-top: 4vw;
  margin-left: 2vw;
}
.comments-label {
  margin-left: 5vw;
}
#comments {
  height: 30vw;
  width: 80vw;
  margin-left: 2vw;
  font-size: 4vw;
}
#phone, #email, #state, #city, #last-name, #first-name {
  width: 65vw;
  height: 6vw;
  float:right;
  margin-top: 4vw;
  margin-right: 2vw;
  border-radius: 10px;
  font-size: 4vw;
}
#last-name, #first-name {
  margin-top: 4vw;
  width: 50vw;
}
.contact-submit {
  font-size: 4vw;
}
/*.contact-input > label {
  margin-top: 3vw;
  float: left;
}*/
.contact-image {
  order: 2;
  width: 100%;
}
.contact-image > img {
  width:100%;
  margin-left: 2vw;
}
.faq-page {
  border-radius: 0px;
}
.faq-page {
  flex-direction: column;
  width: 99%;
  margin-left: 0px;
  align-items: center;
}
.faq, .instrContent2, .instrContent1 {
  width: 300px;
  /* margin-left: 50px;
  margin-right: 50px; */
}
.instrContent2  > p, .instrContent1 > p {
  margin-left: 10px;
  margin-right: 10px;
}
.instrContent2 > h2, .instrContent1 > h2 {
  margin-left: 10px;
}
instrContent2 > img {
  width: 280px;
  height: auto;
}
h1 {
  font-size: 7vw;
}
p, li {
  font-family: Oswald;
  font-size: 5vw;
}
.mandolin-image {
  visibility: collapse;
}
.blueridge-header {
  z-index:1;
  width:100%;
}
.campdates-image {
  position: absolute;
  resize:both;
  height:auto;
  max-height: 13vmax;
  z-index:1;
  /*width:99vmax;*/
}

.student {
  border: solid;
  height: 120px;
  width: auto;
  position: relative;
}
.title-banjo {
  flex-direction: column;
  margin-left: 0px;
  justify-content: flex-end;
}
.banjopic {
  width: auto;
}
.readycontent {
  transform: translate(0%, 0%);
  margin-left: 0px;
}
.ready {
  width: 96vw;
  flex-flow: column;
  min-width:300px;
}
.readycontent > p {
  margin-left: 6vw;
  margin-right: 6vw;
  text-align: center;
}
.readytitle > h1 {
  font-size: 7vw;
  font-style: italic;
}
.readytitle {
  margin-left: 7vw;
  width: 40vmax;
}
.home-container {
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  /*height: 1500px;*/
}
.topic-header > h1 {
  font-size: 7vw;
}
.topics-container {
  width: 96vw;
  min-width:300px;
}
.topic-list-container {
  flex-direction: column;
}
.andy-map-container {
  flex-direction: column;
}
.andy-map-container > div {
  width: 300px;
  height: 500px;
}

.map > img {
  position: absolute;
  width: 200px;
}
.andy > img {
  width: 300px;
}
.camp-map > img {
  width: 300px;
}
.andy-map-container {
  visibility: collapse;
  display: none;
}

.footer {
  visibility: collapse;
  display: none;
}
