h1 {
  font-size: 7vw;
}
p, li {
  font-family: Oswald;
  font-size: 5vw;
}
.mandolin-image {
  visibility: collapse;
}
.student {
  border: solid;
  height: 120px;
  width: auto;
  position: relative;
}
.title-banjo {
  flex-direction: column;
  margin-left: 0px;
  justify-content: flex-end;
}
.banjopic {
  width: auto;
}
.readycontent {
  transform: translate(0%, 0%);
  margin-left: 0px;
}
.ready {
  flex-flow: column;
  min-width:300px;
}
.readytitle {
  margin-left: 4vw;
  width: 40vmax;
}
.home-container {
  flex-direction: column;
  justify-content: flex-end;
  /*height: 1500px;*/
}
.topics-container {
  min-width:300px;
}
.topic-list-container {
  flex-direction: column;
}
.andy-map-container {
  flex-direction: column;
}
.andy-map-container > div {
  width: 300px;
  height: 500px;
}

.map > img {
  position: absolute;
  width: 200px;
}
.andy > img {
  width: 300px;
}
.camp-map > img {
  width: 300px;
}
/*.andy-map-container {
  visibility: collapse;
  display: none;
}*/
