.header-box {
  background-color: white;
  color: rgb(171,138,88);
  font-family: "Oswald";
  margin-top:8.5vw;
  margin-bottom: 0;
  margin-left: 7vmax;
  padding: 10px;
  border-radius: 15px;
  width: 50vmax;
}
.header-box > h1 {
  margin-top: 30px;
  margin-bottom: 0px;
}
.instrContent1 {
  order: 1;
  width: 30vmax;
  background:rgba(0,0,0,0);
  border-radius: 10px;
  margin: 5vw;
}
.instrContent2 {
  order: 2;
  width: 30vmax;
  background:rgba(0,0,0,0);
  border-radius: 10px;
  margin: 5vw;
}
.instrContent2 > img {
  width: 29vmax;
  height: auto;
}
/*.instrImage {
  order: 3;
  width: 35vmax;
  background:rgba(0,0,0,0);
  border-radius: 10px;
  margin: 5vw;
  border: solid;
  border-color: red;
}*/
.faq-page {
  display: flex;
  margin-top: 7vw;
  margin-left: 5vmax;
  margin-right: 5vmax;
  padding: 4vw;
  width: 89vmax;
  border-radius: 25px;
  flex-wrap: wrap;
  /*background-image: url('../Img/bg_dots.jpg');*/
  background-image: url('../Img/whiteGrain.jpeg');
  flex-direction: row;
  justify-content: center;

}
.faq {
  /*background-image: url('../Img/whiteGrain.jpeg');*/
  background:rgba(0,0,0,0);
  border-radius: 10px;
  margin-left: 1vw;
  margin-top: 1vw;
  margin-bottom: 0vw;
  width: 25vmax;
}
.faq-answer {
  color:black;
}
.faqHeader {
    font-size: 27px;
    margin: 20px;
}
.icon {
  float: right;
  color: #F58723;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(90deg);
}
.container {
  margin: 0;
  padding:0;
}

/*.page-container {
  display: inline-block;
  flex-direction: row;
}*/

.andy-map-container {
  order: 4;
  display: flex;
  font-size: 2vw;
  background-image: url('../Img/woodGrain.jpeg');
}
.map-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  order: 1;
  width: 35vmax;
}
.map > img {
  position: absolute;
  width: 35vmax;
}
.andy > img {
  width: 34vmax;
}
.camp-map > img {
  width: 35vmax;
}
.address {
  order: 1;
  text-align: center;
}
.map {
  order: 2
}
.news {
  order:3;
  color: white;
  width: 30vmax;
  background-image: url('../Img/woodGrain.jpeg');
}
.news >img {
  width: 30vmax;
}
.andy {
  background-image: url('../Img/woodGrain.jpeg');
  width: 35vmax;
  color: white;
}
.mandolin-image {
  background-image: url('../Img/whiteGrain.jpeg');
  position: relative;
  /*z-index: 2;*/
  order:3;
  width:14vmax;
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, 0%);*/
}
.mandolin-image >img {
  width: 15vmax;
}
.topic-header  em{
  color: rgb(171,138,88);
  font-family: 'Bigelow Rules';
  font-size: 5vw;
}
.readycontent  em{
  color: rgb(171,138,88);
  font-family: sans-serif;
  font-style: normal;
}
.topic-list-container {
  display: flex;
  flex-direction: row;
  font-size: smaller;
  font: Oswald;
}
.readycontent {
  order: 4;
  /*transform: translate(0%, -20%);*/
  margin-left: 6vw;
  width: 99%;
}
.readytitle {
  order:3;
  color: rgb(171,138,88);
  font-style: italic;
  direction: ltr;
  text-align: right;
  resize: both;
  width: 45%;
  margin-top: 7.5vw;
  margin-left: 1vw;
}
h2 {
  color: rgb(171,138,88);
  font-size: 6vw;
  font-family: 'Oswald';
}
h1 {
  font-size: 4vw;
  font-family: 'Oswald';
}
p, li {
  font-family: Oswald;
  font-size: 2vw;
}
.title-banjo {
  display: flex;
  flex-direction: row;
}
.banjopic {
  position: relative;
  display: flex;
  order: 1;
  width:50%;
  height: auto;
  margin: 0;
}

.banjo {
  position: absolute;
  resize: both;
  height: 40vw;
  width: auto;
  min-width:50px;
  z-index: 2;
}
.student {
  width: 23vw;
  position: absolute;
  z-index: 1;
}

.topics-container {
  order: 2;
  display: flex;
  flex-direction: column;
  background-image: url('../Img/whiteGrain.jpeg');
  min-width: 300px;
  width: 42.5vmax;
  margin:0;
  padding:0;
}
.ready {
  order: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url('../Img/whitefog.jpeg');
  width: 42.5vmax;
  height: auto;
  resize: both;
  margin:0;
  padding:0;
}
.home-container {
  order: 1;
  position: absolute;
  flex-wrap: wrap;
  left:50%;
  transform: translate(-50%, 0%);
  resize:both;
  height:auto;
  width:100%;
  display: flex;
  flex-direction: row;
  resize: both;
  margin-top: 15vw;
}

.campdates img{
  position: absolute;
  resize:both;
  height:auto;
  max-height: 120px;
  width:100%;
}
.menubackground {
  background-image: url('../Img/footer_bg.jpg');

}
.camptext {
  font-family: Oswald;
  font-size: 20px;
  font-style: normal;
  font-variant: caps;
  font-weight: 400;
  line-height: 20px;
}
.navbarbackground {
  background-image: url('../Img/footer_bg.jpg');
  height: 79px;
  width: auto;
}

.topics-container > div {
  margin: 5vw;
}

/*.banner {
  top: 80px;
  height: 450px;
  position: relative;
}*/
footer {
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: -1;
}
body {
  background-color: black;
}
