
<!-- <div class="page-container container"> -->
<div class="home-container">
  <div class="ready">
    <div class="container title-banjo">
    <div class="banjopic">
      <img class="banjo" src="./public/Img/row3_banjo.png" />
      <img class="student" src="./public/Img/photos3.jpg" style="padding-left: 0px" />
    </div>
    <div class="readytitle">
      <h1>ARE YOU READY</h1>
      <h1>TO PLAY IN A BAND?</h1>
    </div>
    </div>
    <div class="readycontent">
      <p class="join"><em>JOIN OUR CAMP</em> in the beautiful hills of North Carolina and let us help you move from jamming to an organized performance!</p>
      <!-- <br></br> -->
      <p>"I Want to be in a Band" Camp is open to singers and acoustic musicians interested in performing solo or as duos, trios, and full bands. Already-formed bands are also welcome.</p>
      <ul>
        <li>
          <p>All instrutors are seasoned music professionals.</p>
        </li>
        <li>
          <p style="font-style: bold;">Prerequisite</p><p>Must have skill level with instrument or voice to feel comfortable performing in front of a live audience.</p>
        </li>
        <li>
          <p>Musicians under 16 welcome with accompanying chaperone.</p>
        </li>
      </ul>
    </div>
  </div>
    <div class="topics-container">
      <div class="topic-header">
        <h1> I WANT TO BE IN A BAND CAMP IS AN <em>immersion experience</em> WHERE ALL PARTICIPANT ARE GROUPED INTO BANDS AND ARE COACHED PM TOPICS INCLUDING: </h1>
      </div>
      <div class="topic-list-container">
      <div class="topic-list1">
        <ul>
          <li>ensemble playing</li>
          <li>arrangments</li>
          <li>lead vocals & harmony vocals</li>
          <li>breaks & fills</li>
          <li>live playing</li>
          <li>stage presence</li>
          <li>understanding & setting up a PA</li>
          <li>playing over a PA</li>
          <li>MC work</li>
          <li>songwriting</li>
        </ul>
      </div>
      <div class="topic-list2">
        <ul>
          <li>booking</li>
          <li>management</li>
          <li>band member personal relationship</li>
          <li>publishing</li>
          <li>travel & transportaion</li>
          <li>recording</li>
          <li>producing</li>
          <li>marketing & social media</li>
          <li>and more</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mandolin-image">
    <img src="./public/Img/mandoline.png" />
  </div>
  <div class="andy-map-container">
    <div class="camp-map">
      <img src="./public/Img/photos4.jpg" />
      <div class="map-container">
        <div class="address">
          <img src="./public/Img/icons8-map-pinpoint-filled.png"/>
          <p>7901 South NC18</p>
          <p>Boomer, NC 28606</p>
          <img src="./public/Img/icons8-phone-filled.png"
          <p>800-514-1417</p>
        </div>
        <div class="map">
          <img src="./public/Img/photos7.jpg" />
        </div>
      </div>
    </div>
    <div class="andy">
      <img src="./public/Img/andy_photo.png" />
      <p>Andy Owens has been playing  Blugrass for over forty years. He has taught hundreds of workshopes and has played in over fifty countries. Andy has a masters in business administration from SMU. He plays all the bluegrass instruments and is a friendly, approachable teacher.</p>
    </div>
    <div class="news">
      <h1 href="https://bluegrasstoday.com/how-to-succeed-in-bluegrass-without-a-travel-agent/">NEWS</h1>
      <p>How do we define “success” in the bluegrass music business? We certainly can’t do it by the standards used in the mass market music world, where success is considered to have been achieved when you own your own airplane and can no longer appear in public places. In other words, you’re a success when your lifestyle has become lavish but almost impossible to manage, at least without an entourage, which is also almost impossible to manage. We aim a little lower in our world. As a general rule, if you’re playing bluegrass music for “a living” and your income is near or above the poverty line, you’ve pretty much made it.</p>
      <h2>Chris Jones</h2>
      <img src="./public/Img/photos6.jpg" />
    </div>
  </div>
  </div>
<!-- </div> -->
