
<div class="home-container">
  <div class="ready">
    <div class="container title-banjo">
    <div class="banjopic">
      <img class="banjo" src="./public/Img/row3_banjo.png" />
      <img class="student" src="./public/Img/photos3.jpg" style="padding-left: 0px" />
    </div>
    <div class="readytitle">
      <h1>ARE YOU READY</h1>
      <h1>TO PLAY IN A BAND?</h1>
    </div>
    </div>
    <div class="readycontent">
      <p class="join"><em>JOIN OUR CAMP</em> in the beautiful hills of North Carolina and let us help you move from jamming to an organized performance!</p>
      <!-- <br></br> -->
      <p>"I Want to be in a Band" Camp is open to singers and acoustic musicians interested in performing solo or as duos, trios, and full bands. Already-formed bands are also welcome.</p>
      <ul>
        <li>
          <p>All instrutors are seasoned music professionals.</p>
        </li>
        <li>
          <p style="font-style: bold;">Prerequisite</p><p>Must have skill level with instrument or voice to feel comfortable performing in front of a live audience.</p>
        </li>
        <li>
          <p>Musicians under 16 welcome with accompanying chaperone.</p>
        </li>
      </ul>
    </div>
  </div>
    <div class="topics-container">
      <div class="topic-header">
        <h1> I WANT TO BE IN A BAND CAMP IS AN <em>immersion experience</em> WHERE ALL PARTICIPANT ARE GROUPED INTO BANDS AND ARE COACHED PM TOPICS INCLUDING: </h1>
      </div>
      <div class="topic-list-container">
      <div class="topic-list1">
        <ul>
          <li>ensemble playing</li>
          <li>arrangments</li>
          <li>lead vocals & harmony vocals</li>
          <li>breaks & fills</li>
          <li>live playing</li>
          <li>stage presence</li>
          <li>understanding & setting up a PA</li>
          <li>playing over a PA</li>
          <li>MC work</li>
          <li>songwriting</li>
        </ul>
      </div>
      <div class="topic-list2">
        <ul>
          <li>booking</li>
          <li>management</li>
          <li>band member personal relationship</li>
          <li>publishing</li>
          <li>travel & transportaion</li>
          <li>recording</li>
          <li>producing</li>
          <li>marketing & social media</li>
          <li>and more</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mandolin-image">
    <img src="./public/Img/mandoline.png" />
  </div>
  </div>
