
<div class="home">
  <div class="ready">
      <!-- <div class="readypics"> -->
        <div class="banjopic">
          <img class="banjo" src="./public/Img/row3_banjo.png" />
          <img class="student" src="./public/Img/photos3.jpg" style="padding-left: 0px" />
        </div>
        <!-- <div class="studentpic">
        </div> -->
        <div class="readytitle">
          <h1>ARE YOU READY</h1>
          <h1>TO PLAY IN A BAND?</h1>
        </div>
        <div class="readycontent">
          <p>JOIN OUR CAMP in the beautiful hills of North Carolina and let us help you move from jamming to an organized performance!</p>
          <!-- <br></br> -->
          <p>"I Want to be in a Band" Camp is open to singers and acoustic musicians interested in performing solo or as duos, trios, and full bands. Already-formed bands are also welcome.</p>
          <ul>
            <li>
              <p>All instrutors are seasoned music professionals.</p>
            </li>
            <li>
              <p style="font-style: bold;">Prerequisite</p><p>Must have skill level with instrument or voice to feel comfortable performing in front of a live audience.</p>
            </li>
            <li>
              <p>Musicians under 16 welcome with accompanying chaperone.</p>
            </li>
          </ul>
        </div>
      <!-- </div> -->
  </div>
</div>
