<div class="header-box" style="width:30vmax;text-align: center;"><h1>CONTACT US!</h1></div>
<div class="contact-page"style="margin-top:20vmax;">
  <div class="contact-container">
    <div class="form-input form" ng-submit="submitForm($event)">
      <form action="" method="post" name="contact-form" class="contact-form">
        <div class="input-group contact-input">
          <label class="form-label" for="first-name">FIRST NAME: </label>
          <input class="form-control" id="first-name" ng-model="firstName" ng-change="ctrl.onChange(firstName, 'firstName')" type="text" size="32" minlength="2" maxlength="64">
        </div>
        <div class="input-group contact-input">
          <label class="form-label" for="last-name">LAST NAME: </label>
          <input class="form-control" id="last-name" ng-model="lastName" ng-change="ctrl.onChange(lastName, 'lastName')" type="text" maxlength="64">
        </div>
        <div class="input-group contact-input">
          <label class="form-label" for="city">CITY: </label>
          <input class="form-control" id="city" ng-model="city" ng-change="ctrl.onChange(city, 'city')" type="text" maxlength="64">
        </div>
        <div class="input-group contact-input">
          <label class="form-label" for="state">STATE: </label>
          <input class="form-control" id="state"ng-model="state" ng-change="ctrl.onChange(state, 'state')" type="text" maxlength="64">
        </div>
        <div class="input-group contact-input">
          <label class="form-label" for="email">E-MAIL: </label>
          <input class="form-control" id="email" ng-model="email" ng-change="ctrl.onChange(email, 'email')" type="email" maxlength="64">
        </div>
        <div class="input-group contact-input">
          <label class="form-label" for="phone" style="">PHONE: </label>
          <input class="form-control" id="phone" ng-model="phone" ng-change="ctrl.onChange(phone, 'phone')" type="text" maxlength="64">
        </div>
        <div class="input-group contact-input">
          <label class="comments-label" for="comments">COMMENTS: </label>
          <textarea class="form-control" id="comments" ng-model="comments" ng-change="ctrl.onChange(comments, 'comments')" cols="60" rows="10" maxlength="500" />
        </div>
        <button class="contact-submit" type="submit" style="position: relative;float:right;">SUBMIT</button>
      </form>
    </div>
    <div class="contact-image">
      <img src="./public/Img/photos9.jpg" />
    </div>
  </div>
</div>
