<!-- <div>
  <h1> Hello {{vm.name}} !!!!!</h1>
  <form stripe-form="vm.stripeCallback" name="checkoutForm">
    <input type="text" ng-model="name" placeholder="Full Name" name="name"/>
    <input type="text" ng-model="addressLine1" placeholder="Address" name="address_line1"/>
    <input type="text" ng-model="addressLine2" placeholder="Apt Number"  name="address_line2"/>
    <input type="text" ng-model="addressCity" placeholder="City"  name="address_city"/>
    <input type="text" ng-model="addressState" placeholder="State"  name="address_state"/>
    <input type="text" ng-model="addressZip" placeholder="Zip code" name="address_zip"/>
    <input type="text" ng-model="addressCountry" placeholder="Country" name="address_country"/>
    <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card" name="card"/>
    <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry" name="expiry"/>
    <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc"/>
    <button type="submit">Submit</button>
</div> -->

<div>

<div class="card profile-card" >
  <div class="front">
    <div class="card-header  header-image-container">
      <div class="circle-image">
        <img class="circle-image" src="./public/Img/photos3.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="card-body text-center">
      <h2 class="card-title">{{vm.profile.displayName}}</h2>
      <p class="card-text">Tell us about yourself in few sentences. Do you sing? Do you write your own songs? Do you play in a band now?</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Instruments:<h2 class="animate-show-hide" ng-hide="edit">{{vm.profile.instruments}}</h2></li>
      <li class="list-group-item">Singer: <input type="text" class="animate-show-hide" ng-show="edit"></li>
      <li class="list-group-item">Genres: <input type="text" class="animate-show-hide" ng-show="edit"></li>
      <li class="list-group-item">Experience Level: <input type="text" class="animate-show-hide" ng-show="edit"></li>
      <li class="list-group-item">Emergency contact: <input type="text" class="animate-show-hide" ng-show="edit"></li>
      <li class="list-group-item">Minor: <input type="text" class="animate-show-hide" ng-show="edit"></li>
      <li class="list-group-item">Camping: <input type="text" class="animate-show-hide" ng-show="edit"></li>
      <button type="submit" class="animate-show-hide" ng-show="edit" >Submit changes</button>
      <input type="checkbox" ng-model="edit" aria-label="Toggle ngShow ngHide" style="width: 200px; height: 200px;" />
    </ul>
    <div class="card-body">
      <a class="card-link" data-toggle="modal" data-target="#editProfile">Edit Info</a>
      <a href="#" class="card-link">Flip</a>
    </div>
  </div>
</div>

<div class="modal fade" id="editProfile" style="margin: 3vw;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Edit {{vm.profile.displayName}}'s Profile</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row row">
            <div class="form-group col-md-6">
              <label for="inputName">Name</label>
              <input ng-model="vm.profile.displayName" type="text" class="form-control" id="inputName" placeholder="Name" value={{vm.profile.displayName}}>
            </div>
            <div class="form-group col-md-4">
              <label for="inputMinor">Minor</label>
              <select id="inputMinor" class="form-control">
                <option selected>Choose...</option>
                <option>yes</option>
                <option>no</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputAge">Age</label>
              <input ng-model="vm.profile.age" type="number" class="form-control" id="inputAge" placeholder="age" value="vm.profile.age">
            </div>
          </div>
          <div class="form-row row">
            <div class="form-group col-md-6">
              <label for="inputCamping">Camping</label>
              <select id="inputCamping" class="form-control">
                <option selected>Choose...</option>
                <option>None</option>
                <option>Tent Camper</option>
                <option>RV Camper</option>
                <option>Cabin Camper</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputChaperone">Chaperone Name</label>
              <input ng-model="vm.profile.chaperone_name" type="text" class="form-control" id="inputChaperone" placeholder="If under 16, who is the chaperone?" value="vm.profile.chaperone_name">
            </div>
          </div>
          <div class="form-row row">
            <div class="form-group col-xl-12">
              <label for="inputBio">Bio</label>
              <input type="text" class="form-control" id="inputBio" placeholder="Do you sing? Do you write your own songs? Do you play in a band now?" >
            </div>
          </div>
          <div class="form-row row">
            <div class="col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="singerCheck">
                <label class="form-check-label" for="singerCheck">Singer</label>
                <input class="form-check-input" type="checkbox" id="instrumentalistCheck">
                <label class="form-check-label" for="instrumentalistCheck">Instrumentalist</label>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputInstruments">Instruments</label>
              <input type="text" class="form-control" id="inputInstruments" placeholder="What instruments do you play?">
            </div>
          </div>
          <div class="form-row row">
            <div class="form-group col-md-8">
              <label for="inputGenres">Genres</label>
              <input type="text" class="form-control" id="inputGenres" placeholder="Genres" >
            </div>
            <div class="form-group col-md-4">
              <label for="inputExperience">Experience Level</label>
              <select id="inputExperience" class="form-control">
                <option selected>Choose...</option>
                <option>Level 1</option>
                <option>Level 2</option>
                <option>Level 3</option>
              </select>
            </div>
          </div>
          <div class="form-row row">
            <div class="form-group col-md-6">
              <label for="inputEmergencyName">Emergency Contact Name</label>
              <input type="text" class="form-control" id="inputEmergencyName" placeholder="Emergency Contact Name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmergencyNumber">Emergency Contact Number</label>
              <input type="text" class="form-control" id="inputEmergencyNumber" placeholder="Emergency Contact Number">
            </div>
          </div>
          <div class="form-row row">
            <div class="form-group col-md-6">
              <label for="inputDietary">Dietary Restrictions</label>
              <input type="text" class="form-control" id="inputDietary" placeholder="Dietary Restrictions">
            </div>
            <div class="form-group col-md-6">
              <label for="inputAllergies">Allergies</label>
              <input type="text" class="form-control" id="inputAllergies" placeholder="Allergies">
            </div>
          </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
