<div class="header-box" style="width:30vmax;"><h1>INSTRUCTORS:</h1></div>
<div class="faq-page" >
  <div class="instrContent1">
    <h2>ANDY OWENS:</h2>
    <p>Andy Owens has been involved in the music business since 1975, playing in bands as both sideman or bandleader; being a published songrwriter; working in studios as a session player, studio owner, engineer and producer; playing live music in over 53 countries and promoting thousands of shows for himself or others.  He has taught hundreds of workshops that he promoted himself or for other entities like Kaufman Kamp, Pete Wernick Jam Camp, Rockygrass and many festivals. As a longtime member of the board of directors of IBMA, the International Bluegrass Music Association, and as Chairperson of the organization for four years, Andy gained extensive insight and contacts into the area of music education. Andy has an MBA (Master in Business Administration) from Southern Methodist University in Dallas, Texas and has also had a successful career as a businessman and entrepreneur outside of the music business.
    Andy has decided to take this vast experience base and share it with aspiring musicians who want to learn more about “being in a band”, kind of a crash course Music 101.</p>
    <h2>ABBIE CRUMRINE:</h2>
    <p>Abbie Crumrine is a musician and highly trained and experienced graphic artist, brand manager and marketing professional who will be teaching our BandCamp students about things like press kits, promo pieces, photography, cd artwork and social media marketing for a band. Abbie has over fourteen years of experience as a professional print and media professional.</p>
  </div>
  <div class="instrContent2">
    <h2>LIAM PURCELL:</h2>
    <p>Liam Purcell is a professional musician, songwriter and teacher from Deep Gap, North Carolina. Liam will be one of our Band Coaches and is a certified Pete Wernick JamCamp instructor and succesfull bandmember with his band Cane Mill Road.</p>
    <h2>MIKE MCKEE:</h2>
    <p>Mike Mckee is a long time luthier and instrument repair person from Boone, North Carolina. Mike will be teaching BandCamp students about how to do some of your own basic repairs and service and how to keep your intruments safe and happy on the road.</p>
    <h2>WILLIAM PURCELL:</h2>
    <p>William Purcell is a band booking agent and manager for the band Cane Mill Road. William has managed the impressive rise of this band to the status of where they are today. William will teach our students about fundraising, bookings, travel management and social media.</p>
    <img src="public/Img/photos10.jpg" />
  </div>
  <!-- <example name="ctrl.name" profile="ctrl.profile"/> -->
  <!-- <div class="instrImage">
    <img src="public/Img/photos10.jpg" />
  </div> -->
</div>
