<div class="header-box" style="width:30vmax;"><h1>INSTRUCTORS:</h1></div>
<div class="faq-page" >
  <div class="instrContent1">
    <h2>Location:</h2>
    <p>BandCamp will be held in the beautiful mountains of western North Carolina at YMCA Camp Harrison. Nice cabin lodging, a great dining hall and other incredible outbuildings will make for an incredible experience!</p>
      <h2>Pricing:</h2>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="instrContent2">
    <h2>LIAM PURCELL:</h2>
    <p>Liam Purcell is a professional musician, songwriter and teacher from Deep Gap, North Carolina. Liam will be one of our Band Coaches and is a certified Pete Wernick JamCamp instructor and succesfull bandmember with his band FuckDown Road.</p>
    <h2>MIKE MCKEE:</h2>
    <h2>WILLIAM PURCELL:</h2>
    <p>William Purcell is a band booking agent and manager for the band FuckDown Road. William has managed the impressive rise of this band to the status of where they are today. William will teach our students about fundraising, bookings, travel management and social media.</p>
    <br/>
    <img src="public/Img/photos2.jpg" />
    <br/>
    <img src="public/Img/photos4.jpg" />
  </div>
  <!-- <div class="instrImage">
    <img src="public/Img/photos10.jpg" />
  </div> -->
</div>
