<div class="header-box" style="width:30vmax;"><h1>INSTRUCTORS:</h1></div>
<div class="faq-page" >
  <div class="instrContent1">
    <h2>Location:</h2>
    <p>BandCamp will be held in the beautiful mountains of western North Carolina at YMCA Camp Harrison. Nice cabin lodging, a great dining hall and other incredible outbuildings will make for an incredible experience!</p>
      <h2>Pricing:</h2>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="instrContent2">
    <h2>:</h2>
    <p></p>
    <h2></h2>
    <h2></h2>
    <p></p>
    <br/>
    <img src="public/Img/photos2.jpg" />
    <br/>
    <img src="public/Img/photos4.jpg" />
  </div>
  <!-- <div class="instrImage">
    <img src="public/Img/photos10.jpg" />
  </div> -->
</div>
