<div class="header-box" style="width:33vmax;"><h1>LODGING & PRICING:</h1></div>
<div class="faq-page" >
  <div class="instrContent1">
    <h2>Location:</h2>
    <div class="camp-map">
      <img src="./public/Img/photos4.jpg" />
      <div class="map-container">
        <div class="map">
          <img src="./public/Img/photos7.jpg" />
        </div>
        <div class="address">
          <div class="address1">
            <p>CAMP WILL BE HELD AT THE WONDERFUL CAMP</p>
            <p>HARRISON JUST SOUTH OF WILKSBORO, NC</p>
          </div>
          <div class="address2">
            <img style="width:3vw;"src="./public/Img/icons8-map-pinpoint-filled.png"/>
            <p>7901 South NC18<br>Boomer, NC 28606</p>
            <p><img style="width:4vw;" src="./public/Img/icons8-phone-filled.png"/><a href="tel:800-514-1417" class="brown-text cell-num">800-514-1417</a></p>
          </div>
        </div>
      </div>
    </div>
    <p>BandCamp will be held in the beautiful mountains of western North Carolina at YMCA Camp Harrison. Nice cabin lodging, a great dining hall and other incredible outbuildings will make for an incredible experience!</p>
      <h2><strong>Pricing: </strong></h2>
    <ul>
      <li><strong>BandCamp Tuition:</strong> $379 per person, includes lunches</li>
      <h2><strong>Lodging Pricing</strong></h2>
      <p>These prices are for either tuition paying attendees or non tuition paying guests or chaperones and include breakfast and dinner:</p>
      <li>Cabin, per person: $279</li>
      <li>RV per person: $199</li>
      <li>Tent per person: $150</li>
      <h2><strong>Food pricing:</strong></h2>
      <li>Lunch for non-participant guests and chaperones: $50/week (lunch is included for camp participants)</li>
      <li>Breakfast and dinner is included in cost of lodging price for tent, rv and cabin campers</li>
    </ul>
  </div>
  <div class="instrContent2">
    <h2>Lodging Description: </h2>
    <p>Camp Harrison is a new state of the art YMCA camp, with a wonderful dining hall, great food from their commercially designed kitchen and other great outbuildings we will use to have various activities related to BandCamp.</p>
    <h2>Options: </h2>
    <p>There are multiple lodging options available. There are sixteen nice cabins with eight bunks each and each cabin has a private bath area with multiple showers and toilet stalls. Cabins will be divided into "boys and girls" for optimal privacy. There is space to park RV's, no hookups as far as water or sewage, but there are places to plug in for basic power, and there is a tent option also. Two cabins, boys and girls, will be used for the RV and Tent people to use for showers and bathrooms. Since breakfast, dinner and shower access are provided for RV and Tent campers, there is a charge per person for that.</p>
    <p>Camp Harrison is about 20 minutes south of Wilkesboro and there is also the option of staying in hotels in Wilkesboro, although we don't recommend it as there will be nighttime activities, homework you might say!</p>
    <br/>
    <img src="public/Img/photos2.jpg" />
    <br/>
    <img src="public/Img/photos1.jpg" />
  </div>
  <!-- <div class="instrImage">
    <img src="public/Img/photos10.jpg" />
  </div> -->
</div>
