
<div class="card profile-card" >
  <div class="front">
    <div class="card-header  header-image-container">
      <div class="circle-image">
        <img class="circle-image" src="./public/Img/photos3.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="card-body text-center">
      <h2 class="card-title">{{profile.displayName}}</h2>
      <p class="card-text">Tell us about yourself in few sentences. Do you sing? Do you write your own songs? Do you play in a band now?</p>
    </div>
    <ul class="list-group list-group-flush">
      <form>
        <li class="list-group-item">Instruments: <input ng-hide="edit" type="text"></input></li>
        <li class="list-group-item">Singer: </li>
        <li class="list-group-item">Genres: </li>
        <li class="list-group-item">Experience Level: </li>
        <li class="list-group-item">Emergency contact: </li>
        <li class="list-group-item">Minor: </li>
        <li class="list-group-item">Camping: </li>
        <button ng-model="edit"></button>
      </form>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Edit Info</a>
      <a href="#" class="card-link">Flip</a>
    </div>
  </div>
  <!-- <div class="back">
    <div class="card-header  header-image-container">
      <div class="circle-image">
        <img class="circle-image" src="./public/Img/photos3.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="card-body text-center">
      <h2 class="card-title">Info</h2>
      <p class="card-text">(this information will not be shared with anyone)</p>
    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">Address: </li>
      <li class="list-group-item">City: </li>
      <li class="list-group-item">State: </li>
      <li class="list-group-item">Phone: </li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Edit Info</a>
      <a href="#" class="card-link">Flip</a>
    </div>
  </div> -->
</div>
