<div>
<div class="sign-up card text-center">
  <img class="card-img-top" src="./public/Img/photos4.jpg" alt="Card image cap">
  <div class="card-block sign-up-block text-center">
    <h1>Welcome {{user.displayName}}</h1>
    <h2 class="">Sign up for The Band Camp: </h2>
    <a><button type="button" class="btn btn-primary sign-up-button" data-toggle="modal" data-target="#registrationmodal" >Pay Camp Dues</button></a>
    <h2>Once you have paid for camp registration click here to get to camper profiles: </h2>
    <a ng-href="#/profile"><button type="button" class="btn btn-primary sign-up-button">Edit or View Camper Profiles</button></a>
  </div>
</div>

<div class="modal fade" id="registrationmodal" tabindex="-1" role="dialog" aria-labelledby="registrationmodal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="modaltitle">{{user.displayName}}'s Camper Registration Cart</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{user.groupTotal}} Total Group Members: </li>
          <li class="list-group-item">Student Total: {{user.studentTotal}} x $379 = ${{user.studentTotal * 379 }}</li>
          <li class="list-group-item">RV Campers: {{user.rvCampers}} x $279 = ${{user.rvCampers * 279 }}</li>
          <li class="list-group-item">Cabin Campers: {{user.cabinCampers}} x $199 = ${{user.cabinCampers * 199 }}</li>
          <li class="list-group-item">Tent Campers: {{user.tentCampers}} x $150 = ${{user.tentCampers * 150 }}</li>
          <li class="list-group-item">Chaperone Lunch Plans: {{user.chaperoneLunches}} x $50 = ${{user.chaperoneLunches*50}}</li>
          <li ng-hide="regCtrl.user.amt_paid > 0" class="animate-show-hide list-group-item">Total: ${{user.studentTotal * 379 + user.rvCampers * 279 + user.cabinCampers * 199 + user.tentCampers * 150 + user.chaperoneLunches * 50 - user.amt_paid}}</li>
          <li ng-hide="regCtrl.user.amt_paid === 0" class="animate-show-hide list-group-item">Amount Paid Already: ${{regCtrl.user.amt_paid}} Amount Owed: ${{user.studentTotal * 379 + user.rvCampers * 279 + user.cabinCampers * 199 + user.tentCampers * 150 + user.chaperoneLunches * 50 - regCtrl.user.amt_paid}}</li>
        </ul>
        <form>
          <div class="form-row row">
            <div class="form-group col-md-12">
              <label for="studentTotal">Andy Owens Band Camp Passes:</label>
              <input ng-model="regCtrl.user.studentTotal" type="number" class="form-control" id="studentTotal">
            </div>
          </div>
          <div class="form-row row">
            <div class="form-group col-md-6">
              <label for="rvCampers">RV Camping Passes:</label>
              <input ng-model="regCtrl.user.rvCampers" type="number" class="form-control" id="rvCampers">
            </div>
            <div class="form-group col-md-6">
              <label for="cabinCampers">Cabin Camping Passes:</label>
              <input ng-model="regCtrl.user.cabinCampers" type="number" class="form-control" id="cabinCampers">
            </div>
          </div>
          <div class="form-row row">
            <div class="form-group col-md-6">
              <label for="chaperoneLunches">Non-Particpant Lunch Plans:</label>
              <input ng-model="regCtrl.user.chaperoneLunches" type="number" class="form-control" id="chaperoneLunches">
            </div>
            <div class="form-group col-md-6">
              <label for="groupTotal">Group Size:</label>
              <input ng-model="regCtrl.user.groupTotal" type="number" class="form-control" id="groupTotal">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkoutmodal" data-dismiss="modal" ng-click="handleSave()">Save Cart</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="checkoutmodal" tabindex="-1" role="dialog" aria-labelledby="checkoutmodal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="modaltitle">Cart: </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Make sure the order is correct</p>
        <ul class="list-group list-group-flush">
          <li ng-show="regCtrl.user.groupTotal > 0" class="animate-show-hide list-group-item">{{regCtrl.user.groupTotal}} Total Group Members: </li>
          <li ng-show="regCtrl.user.studentTotal > 0" class="animate-show-hide list-group-item">Student Total: {{regCtrl.user.studentTotal}} x $379 = ${{regCtrl.user.studentTotal * 379 }}</li>
          <li ng-show="regCtrl.user.rvCampers > 0" class="animate-show-hide list-group-item">RV Campers: {{regCtrl.user.rvCampers}} x $279 = ${{regCtrl.user.rvCampers * 279 }}</li>
          <li ng-show="regCtrl.user.cabinCampers > 0" class="animate-show-hide list-group-item">Cabin Campers: {{regCtrl.user.cabinCampers}} x $199 = ${{regCtrl.user.cabinCampers * 199 }}</li>
          <li ng-show="regCtrl.user.tentCampers > 0" class="animate-show-hide list-group-item">Tent Campers: {{regCtrl.user.tentCampers}} x $150 = ${{regCtrl.user.tentCampers * 150 }}</li>
          <li ng-show="regCtrl.user.chaperoneLunches > 0" class="animate-show-hide list-group-item">Chaperone Lunch Plans: {{regCtrl.user.chaperoneLunches}} x $50 = ${{regCtrl.user.chaperoneLunches*50}}</li>
          <li ng-hide="regCtrl.user.amt_paid > 0" class="animate-show-hide list-group-item">Total: ${{user.studentTotal * 379 + user.rvCampers * 279 + user.cabinCampers * 199 + user.tentCampers * 150 + user.chaperoneLunches * 50 - user.amt_paid}}</li>
          <li ng-hide="regCtrl.user.amt_paid === 0" class="animate-show-hide list-group-item">Amount Paid Already: ${{regCtrl.user.amt_paid}} Amount Owed: ${{user.studentTotal * 379 + user.rvCampers * 279 + user.cabinCampers * 199 + user.tentCampers * 150 + user.chaperoneLunches * 50 - regCtrl.user.amt_paid}}</li>
        </ul>
        <form stripe-form="regCtrl.stripeCallback" name="checkoutForm">
          <div class="form-row row">
            <div class="form-group col-md-6">
              <label for="name">Full Name:</label>
              <input type="text" ng-model="name" placeholder="Full Name" name="name" class="form-control" id="name">
            </div>
            <div class="form-group col-md-6">
              <label for="address_line1">Address:</label>
              <input type="text" ng-model="addressLine1" placeholder="Address" name="address_line1" class="form-control" id="address_line1">
            </div>
          </div>
          <div class="form-row row">
            <!-- <div class="form-group col-md-2">
              <label for="address_state">Apt:</label>
              <input type="text" ng-model="addressLine2" placeholder="Apt Number"  name="address_line2" class="form-control" id="address_line2">
            </div> -->
            <div class="form-group col-md-4">
              <label for="address_city">City:</label>
              <input type="text" ng-model="addressCity" placeholder="City"  name="address_city" class="form-control" id="address_city">
            </div>
            <div class="form-group col-md-2">
              <label for="address_state">State:</label>
              <input type="text" ng-model="addressState" placeholder="State"  name="address_state" class="form-control" id="address_state">
            </div>
            <div class="form-group col-md-3">
              <label for="address_zip">Zip-Code:</label>
              <input type="text" ng-model="addressZip" placeholder="Zip code" name="address_zip" class="form-control" id="address_zip">
            </div>
            <div class="form-group col-md-3">
              <label for="address_country">Country:</label>
              <input type="text" ng-model="addressCountry" placeholder="Country" name="address_country" class="form-control" id="address_country">
            </div>
          </div>
          <div class="form-row row">
            <div class="form-group col-md-6">
              <label for="cardNumber">Credit/Debit Card Number:</label>
              <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card" name="card" class="form-control" id="cardNumber">
            </div>
            <div class="form-group col-md-3">
              <label for="expiry">Expiration Date:</label>
              <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry" name="expiry" class="form-control" id="expiry">
            </div>
            <div class="form-group col-md-3">
              <label for="cvc">CVC:</label>
              <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" class="form-control" id="cvc">
            </div>
          </div>
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          <div ng-if="checkoutForm.card.$invalid">
            Error: invalid card number!
          </div>
          <div ng-if="checkoutForm.expiry.$invalid">
            Error: invalid expiration date!
          </div>
          <div ng-if="checkoutForm.cvc.$invalid">
            Error: invalid cvc number!
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#registrationmodal">Edit Cart</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CheckoutModal -->
<!-- <checkout user="regCtrl.user" /> -->
</div>
