<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<div class="sign-up" style="text-align: center; color:white; border-radius: 10px;">
  <h2>To register for Andy Owens Band Camp</h2>
  <h2>Log in if you already have an account or Sign up for Andy Owens Band Camp using your google account</h2>
  <a ng-href="https://bandcamp.cc/api/auth/google"> <p className="google-auth-picture"><img style="width: 30vmax;"  src="https://i.imgur.com/xrh3oEi.png" style="width:60vw;"  /></p></a>
</div>
  <!-- <h1 ng-click="signupCtrl.onClick()">Click ME!!!!</h1> -->
